
@{
    ViewBag.Title = "DetailTienGop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">

        @if (ViewBag.TieuDe != null)
        {
            <h4>
                <i class="fas fa-table"></i>
                @ViewBag.TieuDe
            </h4>
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center">
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Ngày</th>
                        <th>Số Tiền</th>
                        <th>Ghi Chú</th>
                        <th>Tình Trạng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr style="text-align:center">
                        <th colspan="3"></th>
                        <th>
                            Tổng:
                            @{
                                QuanLyTienEntities db = new QuanLyTienEntities();
                                string tongtien = "";
                                string name = ViewBag.Name;
                                var result = db.Detail_TienGop.Where(x => x.Name == name).FirstOrDefault();
                                if (result != null)
                                {
                                    if(result.SoTien != null)
                                    {
                                        var kq = db.Detail_TienGop.Where(x => x.Name == name).Sum(x => x.SoTien).Value;
                                        tongtien = String.Format("{0:#,##0.##}", kq);
                                    }
                                }
                            }
                            <span style="color:red">@tongtien</span>
                        </th>
                        <th colspan="2"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (ViewBag.List != null)
                    {
                        var list = ViewBag.List;
                        int j = 1;
                        foreach (var i in list)
                        {
                            <tr style="text-align:center;font-weight:bold">
                                <td style="color:red">@j</td>
                                <td>
                                    @i.Name
                                </td>
                                <td style="background-color:salmon;font-weight:bold">
                                    @{
                                        DateTime date = i.Date;
                                        string Datestr = date.ToShortDateString();
                                    }
                                    @Datestr
                                </td>
                                <td style="font-weight:bold;background-color:lightseagreen">
                                    @{
                                        var sotien = "";
                                        if (i.SoTien != null)
                                        {
                                            sotien = String.Format("{0:#,##0.##}", i.SoTien);
                                        }

                                    }
                                    @sotien
                                </td>
                                <td style="color:red">
                                    @i.GhiChu
                                </td>
                                <td>
                                    @{
                                        string status = i.Status == false ? "Đang góp" : "Đã dồn tiền";
                                    }
                                    @status
                                </td>
                            </tr>
                            j++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

